@font-face {
  font-family: "Megrim";
  font-style: normal;
  font-weight: 400;
  src: local("Megrim"), url("http://themes.googleusercontent.com/static/fonts/megrim/v5/DO-J3fN7tP-bKfriFzSkEOvvDin1pK8aKteLpeZ5c0A.woff") format("woff");
}
body {
	background-image: url('images/chihulytree.jpg');
	background-size: cover;
	background-color: rgba(15, 42, 96, 0.7);
}
h1 {
	font-family: 'Megrim',cursive;
	font-weight: 400;
	font-size: 43px;
	color: rgb(255, 255, 255);
	text-transform: uppercase;
}
h3 {
	font-family: 'Megrim',cursive;
	font-weight: 400;
	font-size: 23px;
	color: rgb(255, 255, 255);
}
p {
	font-family: verdana;
	color: rgb(255, 255, 255);
}
a {
	text-decoration: none;
	color: rgb(255, 255, 255);
}
a:hover {
    cursor: crosshair;
    color: #6a479b;
}
#article {
	padding: 20px;
	margin: 20px;
	width: 370px;
	border: 1px solid rgba(154, 138, 171, 0.4);
	background-color: rgba(195, 75, 75, 0.8);
}
.ping {
	display: none;
}