@font-face {
    font-family: "Megrim";
    font-style: normal;
    font-weight: 400;
    src: local("Megrim"), url("http://themes.googleusercontent.com/static/fonts/megrim/v5/DO-J3fN7tP-bKfriFzSkEOvvDin1pK8aKteLpeZ5c0A.woff") format("woff");
}
html {
    height: 100%;
}
body {
    margin-top: 0px;
    height: 100%;
    /* background-image: url('http://static.tumblr.com/iqhzefb/Vhgn566r2/c10a606d4e26f7c1a6c6db4fa32cf36a.jpg'); */
}
nav {
    position: fixed;
    width: 20%;
    height: 100%;
    margin-left: -8px;
    padding-left: 2.5%;
    padding-right: 2.5%;
    background-color: rgba(195, 75, 75, 0.8);
    /* background-color: #c34b4b; */
}
nav h1 {
    font-family: 'Megrim',cursive;
    font-weight: 400;
    font-size: 27px;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
}
nav h3 {
    font-family: 'Megrim',cursive;
    font-weight: 400;
    font-size: 20px;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
}
a:hover {
    cursor: crosshair;
}
main {
    margin-top: 50px;
    float: right;
    width: 74%;
}
#section {
    float: left;
    margin-right: 5%;
    margin-left: 5%;
    margin-bottom: 5%;
    /* background-color: #abdbe3; */
    background-color: rgba(15, 42, 96, 0.7);
}
td.content {
    margin: 0px;
    height: 300px;
    width: 300px;
}
td.content p {
    font-family: verdana;
    color: white;
    font-size: 15px;
}
#article {
    height: 100%;
    width: 300px;
    overflow-y: hidden;
    display: inline-block;
    text-overflow: '...[READ MORE]';
}
td.label {
    background-color: rgba(195, 75, 75, 0.5);
    height: 150px;
}
td.label p {
   font-family: 'Megrim',cursive;
   font-weight: 400;
   font-size: 20px;
   color: rgb(255, 255, 255);
   text-transform: uppercase;
   text-align: center;
}
td.label p:hover {
   cursor: crosshair;
   color: #6a479b;
   text-decoration: none;
}
#bottom {
                
}
#avatar {
   margin-top: 30px;
   border-radius: 50%;
   background-color: #f6f6f6;
   border-color: #f6f6f6;
   background: #666 50% 50% no-repeat;
   background-size: 106px 106px;
   display: block;
   height: 106px;
   width: 106px;
   border: 3px solid #f6f6f6;
   position: relative;
}
.avatar {
   height: 106px;
   width: 106px;
   border-radius: 50%;
}
